.grid-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: auto auto ;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}
.grid-item {
    background-color: white;
    border-style: solid;
    border-width: 0.5px;
}